<div class="flex items-start gap-2.5" x-data="{ created_at: '{{ message.created_at | datetimeformat(format="iso") }}', get timestamp() { return dayjs(this.created_at).format('HH:mm'); }}">
  {% with image = message.user_image, username = message.user_name %}
    {% include 'components/user-profile-image.jinja2' %}
  {% endwith %}
  <div class="flex flex-col w-full leading-1.5">
    <div class="flex items-center space-x-2 rtl:space-x-reverse">
      <span class="text-sm font-semibold text-gray-900 dark:text-white">{{ message.user_name }}</span>
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400" x-text="timestamp"></span>
    </div>
    <div class="flex flex-col">
      {% if message.uploads %}
        <div class="grid grid-cols-4 gap-4">
          {% for val in message.uploads | split %}
            <img class="h-20 w-20 object-center object-cover rounded-lg" src="/uploads/{{ val }}" alt="uploaded image">
          {% endfor %}
        </div>
      {% endif %}
      <p class="text-sm font-normal py-2 text-gray-900 dark:text-white">{{ message.message }}</p>
    </div>
  </div>
</div>
