<div>
  <form hx-post="/htmx/room/{{ currentRoom.id }}/send" hx-target="#send-response"
        hx-on::after-request=" if(event.detail.successful) this.reset()" hx-swap='none'>
        <div class="flex flex-col">
          <div id="upload-list" class="flex flex-row items-center gap-2 p-2 bg-gray-50 dark:bg-gray-700">
          </div>
          <div class="flex items-center px-3 py-2 bg-gray-50 dark:bg-gray-700">
            <form>
              <label for="file">
                <div class="relative justify-center p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                  {% include 'icons/image.jinja2' %}
                  <input class="hidden w-full cursor-pointer" type="file" name="file" id="file"
                         hx-encoding='multipart/form-data'
                         hx-post="/htmx/room/{{ currentRoom.id }}/upload"
                         hx-trigger="change"
                         hx-target='#upload-list' hx-swap='beforeend'
                         />
                </div>
              </label>
            </form>
            <button type="button" class="p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
              {% include 'icons/emoji.jinja2' %}
              <span class="sr-only">Add emoji</span>
            </button>
            <textarea id="chat" name="msg" rows="1" class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-slate-500 focus:border-slate-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-slate-500 dark:focus:border-slate-500" placeholder="Your message..."></textarea>
            <div id="upload-input">
            </div>
            <button type="submit" class="inline-flex justify-center p-2 text-slate-600 rounded-full cursor-pointer hover:bg-slate-100 dark:text-slate-500 dark:hover:bg-gray-600">
              {% include 'icons/send.jinja2' %}
              <span class="sr-only">Send message</span>
            </button>
          </div>
        </div>
        <div id="send-response"></div>
  </form>
</div>
