<div class="flex items-center flex-shrink-0 h-16 bg-nord-5 dark:bg-nord-1 border-b border-nord-4 px-4">
  <div>
	<h1 class="text-sm font-bold leading-none dark:text-nord-5">Settings</h1>
	<span class="text-xs leading-none dark:text-nord-5"></span>
  </div>
</div>
<div class="flex flex-col flex-grow overflow-auto dark:bg-nord-1">
  <div>
  </div>
</div>
