<li id="{{ room.id }}" hx-boost="true" hx-get="/chatroom/{{ room.id }}" hx-target="#current" hx-push-url="/chatroom/{{room.id}}" class="flex items-center gap-4 p-1 pl-3 px-2 w-full text-base font-normal text-gray-900 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 relative cursor-pointer" :class="currentChat == '{{ room.id }}' ? 'bg-slate-300 dark:bg-slate-600' : ''">
  <div class="relative w-5 h-5 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
    <svg class="absolute w-7 h-7 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
  </div>
  <span class="top-2 start-7 absolute w-3 h-3 bg-green-500 border-2 border-white dark:border-gray-800 rounded-full"></span>
  <span class="ml-2 text-sm truncate">{{ room.name }}</span>
</li>
